.loginform
    .loginform_header
        h1 WebServStat
    form.loginform_form
        .loginform_form_item
            input(type="text" placeholder="Your Email")
        .loginform_form_item
            input(type="text" placeholder="Your Password")
        .loginform_form_item
            button#loginbutton.normal(type="button") Login


