doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title web server status
        link(href='css/libs.css?v=0.0.1', rel='stylesheet')
        link(href='css/main.min.css?v=0.0.1', rel='stylesheet')
    body
        .container
            #res
                .preintro
                    i.fa.fa-refresh.fa-spin.fa-3x.fa-fw
                    span Loading...
    footer
    script(src='js/libs.js?v=0.0.1')
    script(src='js/main.min.js?v=0.0.1')
